[user]
	name = Russell Yeo
	email = rusyeo@gmail.com
[credential]
	helper = osxkeychain
[core]
	pager = git delta
	editor = code --wait
	excludesfile = ~/.dotfiles/.gitignore_global
	compression = 1
	packedGitLimit = 512m
  packedGitWindowSize = 512m
[pack] 
  deltaCacheSize = 2047m
  packSizeLimit = 2047m 
  windowMemory = 2047m
[init]
	defaultBranch = main
[merge]
	tool = smerge
	conflictstyle = diff3
[diff]
  colorMoved = default
[interactive]
  diffFilter = git delta --color-only
[delta]
  navigate = true
	side-by-side = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[include]
  path = ~/.dotfiles/delta/themes.gitconfig
# Override gitconfig for Depop repositories
[includeIf "gitdir:~/Developer/Depop/**"]
	path = ~/.dotfiles/.gitconfig_depop
[alias]
	delta = !delta $(defaults read -g AppleInterfaceStyle &>/dev/null || echo --light)