[user]
	name = Russell Yeo
	email = rusyeo@gmail.com
[credential]
	helper = osxkeychain
[core]
	editor = code --wait
	excludesfile = ~/.dotfiles/.gitignore_global
	compression = 1
	packedGitLimit = 512m
    packedGitWindowSize = 512m
[pack] 
    deltaCacheSize = 2047m 
    packSizeLimit = 2047m 
    windowMemory = 2047m
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
[init]
	defaultBranch = main
[merge]
	tool = smerge
[diff]
    colorMoved = default
# Override gitconfig for Depop repositories
[includeIf "gitdir:~/Developer/Depop/**"]
	path = ~/.dotfiles/.gitconfig_depop
