# dotfiles git commands
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles_bare/ --work-tree=$HOME'

# Run bootstrap script
alias bootstrap="sh ~/.dotfiles/bootstrap.sh"

# git 
alias gm="git machete"

# Shell configuration
alias zshconfig="code ~/.zshrc"
alias zshaliases="code ~/.aliases"
alias ohmyzsh="code ~/.oh-my-zsh"
alias zshreload=". ~/.zshrc"
alias zshclearhistory='echo "" > ~/.zsh_history & exec $SHELL -l'

# weather
alias weather='curl wttr.in'

# bat the cat
alias cat="bat"

# See today in log.md
alias today="sed -n '/^## "$(date -u +%Y-%m-%d)"/,"\$p"' $LOG | cat --language markdown --paging never --style=plain | glow -"

# Search diff from <commit or branch> for TODOs
function todo-since() {
	git diff $1 --name-only | sed 's/ /\\ /g' | xargs ack -C 1 'TODO'
}

# cheat man pages
function cheat() {
	curl cheat.sh/$1
}

# convert webpage to markdown
function fuckyeahmarkdown() {
	curl -X GET http://fuckyeahmarkdown.com/go/\?read=1\&md=1\&u=$1 | cat --language markdown
}

# convert webpage to epub
function url-to-epub-pandoc() {
	curl -X GET http://fuckyeahmarkdown.com/go/\?read=1\&md=1\&u=$1 -o output.md
	pandoc output.md -o output.epub
	rm output.md
	echo "output.epub created"
}

# convert webpage to epub
function url-to-epub-calibre() {
	curl -X GET http://fuckyeahmarkdown.com/go/\?read\=1\&u\=$1\&preview\=1 -o output.html
	ebook-convert output.html output.epub
	rm output.html
	echo "output.epub created"
}

# convert recipe to markdown
get-recipe() { 
	curl -sG "https://plainoldrecipe.com/recipe" -d "url=${1}" | pandoc -f html -t markdown
}

# Open ticket for current branch
alias ticket="git branch --show-current | grep -Eo '\d+' | xargs -I {} open 'https://depopmarket.atlassian.net/browse/SEARCH-{}'"